@using EntityLayer.Concrete
@model List<Table>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}


<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="form-head d-flex mb-3 align-items-start">
            <div class="mr-auto d-none d-lg-block">
                <h2 class="text-black font-w600 mb-0">Masalar</h2>
                <p class="mb-0">Paradise54 Admin!</p>
            </div>

        </div>
        <div class="row">
            
            @foreach (var item in Model)
            {

                if (item.Status == "BOS")
                {
                    <div class="col-xl-3 col-xxl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="widget-stat card bg-success">
                            <div class="card-body p-4">
                                <form asp-action="GetOrder" asp-controller="Table">
                                    <a href="/Table/GetOrder?tableId=@item.Id">
                                        <div class="media">
                                            <span class="mr-3">
                                                <i class="flaticon-381-calculator"></i>
                                            </span>
                                            <div class="media-body text-white text-right">
                                                <p class="mb-1">@item.Name</p>
                                                <h3 class="text-white">₺ 0</h3>
                                            </div>
                                        </div>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-xl-3 col-xxl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="widget-stat card bg-danger">
                            <div class="card-body p-4">
                                <form asp-action="GetOrder" asp-controller="Table">
                                    <a href="/Table/GetOrder?tableId=@item.Id">
                                        <div class="media">
                                            <span class="mr-3">
                                                <i class="flaticon-381-calculator"></i>
                                            </span>
                                            <div class="media-body text-white text-right">
                                                <p class="mb-1">@item.Name</p>
                                                <h3 class="text-white">₺@ViewBag.TotalPrice[i]</h3>
                                            </div>
                                        </div>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                    if (ViewBag.totalCount != i)
                    {
                        i++;
                    }

                }
            }

        </div>
    </div>
</div>