@{
    ViewData["Title"] = "Home Page";
}

@{
    string deneme = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/In-N-Out_Burger_cheeseburgers.jpg/300px-In-N-Out_Burger_cheeseburgers.jpg";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Deneme fotograf goruntule</h1>
    <img src=@deneme />
</div>
