@{
    var tablenum = Context.Request.Query["tablenum"].ToString();
}
<!-- navbar start -->
<header class="navbar-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="themefie_main_menu">
                <div class="logo">
                    <a class="main-logo" href="home-1.html"><img src="~/restaurantTheme/assets/img/logo.png" alt="img"></a>
                </div>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <ul>
                    <li>
                        <a class="search" href="#"><i class="ri-search-line"></i></a>
                    </li>
                    <form asp-action="Index" asp-controller="Cart" method="get">
                        <input type="hidden" name="tableNum" value="@tablenum" />
                    <li class="menu-cart"><button class="btn btn-warning" type="submit">SEPET</button></li>
                    
                    </form>
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <ul>
                    <li>
                        <a class="search" href="#"><i class="ri-search-line"></i></a>
                    </li>
                    <form asp-action="Index" asp-controller="Cart" method="get">
                       <input type="hidden" name="tableNum" value="@tablenum"/>
                    <li class="menu-cart"><button class="btn btn-warning" type="submit">SEPET</button></li>@*//url HATASI*@
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- navbar end -->