@model IEnumerable<EntityLayer.Concrete.Food>
@{ 
    int i = 1;
}
<!-- footer area start -->
<footer class="footer-area pd-top-100">
    <div class="footer-inner padding-top-100 padding-bottom-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget">
                        <div class="logo">
                            <img src="~/restaurantTheme/assets/img/logo.png" alt="img">
                        </div>
                        <ul class="contact_info_list">
                            <li class="single-info-item">
                                <img src="~/restaurantTheme/assets/img/icon/location.png" alt="icon">
                                <div class="details">
                                    Sakarya Üniversitesi, Bilgisayar ve Bilişim Bilimleri Fakültesi 54500
                                </div>
                            </li>
                            <li class="single-info-item">
                                <img src="~/restaurantTheme/assets/img/icon/envelope.png" alt="icon">
                                <div class="details">
                                    help@paradise54.com
                                </div>
                            </li>
                            <li class="single-info-item">
                                <img src="~/restaurantTheme/assets/img/icon/phone.png" alt="icon">
                                <div class="details">
                                    +90 555 555 5555
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget widget_link">
                        <h4 class="widget-title">Bazı Yemeklerimiz</h4>
                        <ul>
                            <li>Whopper Hamburger </li>
                            <li>Cheeseburger</li>
                            <li>Original Recipe Chicken</li>
                            <li>Wendy's Frosty</li>
                            <li>Happy Meal</li>
                            <li>Pepperonili Pizza</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget widget_link">
                        <h4 class="widget-title">Açık Olduğumuz Saatler</h4>
                        <ul>
                            <li>Pazartesi : 09.00am-10.00pm</li>
                            <li>Salı : 09.00am-10.00pm</li>
                            <li>Çarşamba : 09.00am-10.00pm</li>
                            <li>Perşembe : 09.00am-10.00pm</li>
                            <li>Cuma  : 09.00am-10.00pm</li>
                            <li>Cumartesi & Pazar : <span>Kapalı</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget widget_instagram_feeds">
                        <h4 class="widget-title">Bazı Ürünlerimiz</h4>
                        <ul>
                            @foreach (var item in Model)
                            {
                                if (i <= 9)
                                {
                                    <li><a href="#"><img src="@item.Photo" alt="instagram" /></a></li>
                                }
                                i++;
                            }

                            @*<li><a href="#"><img src="~/restauranttheme/assets/img/instagram/2.png" alt="instagram" /></a></li>
        <li><a href="#"><img src="~/restauranttheme/assets/img/instagram/3.png" alt="instagram" /></a></li>
        <li><a href="#"><img src="~/restauranttheme/assets/img/instagram/4.png" alt="instagram" /></a></li>
        <li><a href="#"><img src="~/restauranttheme/assets/img/instagram/5.png" alt="instagram" /></a></li>
        <li><a href="#"><img src="~/restauranttheme/assets/img/instagram/6.png" alt="instagram" /></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-start text-center">
                    <div class="copyright-area">
                        <p>© @DateTime.Now.Year Paradise54. Bütün hakları saklıdır.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="social-area text-md-end text-center mt-md-0 mt-2">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->